language: go

go:
  - 1.11.x

addons:
  postgresql: "9.6"

services:
  - postgresql

env:
  global:
    - CREAMY_POSTGRES_USER=creamy
    - CREAMY_POSTGRES_PASSWORD=videos
    - CREAMY_POSTGRES_DATABASE=creamy_videos
  matrix:
    - CREAMY_POSTGRES=true
    - CREAMY_POSTGRES=false

# install node
before_install:
  - . $HOME/.nvm/nvm.sh # https://stackoverflow.com/a/43106527/3649573
  - nvm install --lts
  - nvm use --lts
  - psql -c "CREATE DATABASE creamy_videos;" -U postgres
  - psql -c "CREATE USER creamy WITH PASSWORD 'videos';" -U postgres
  # install cypress dependencies
  - sudo apt-get install -y xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2

install:
  - go get github.com/GeertJohan/go.rice/rice
  - go get
  - cd ui && npm install && cd ..

before_script:
  - go vet
  - cd ui && npm run lint && cd ..

script:
  - cd ui && npm run build && cd ..
  - cd cmd && rice embed-go && cd ..
  - go build
  - ./creamy-videos serve &
  - sleep 2 # give it time to start
  - cd ui && npm run test:e2e -- --headless --url http://localhost:3000/
